@import './mixins.scss';

#about{
    padding : 70px 15px;

    >div{
        @include flex-center(50px, flex-start, row);
        margin-top : 30px;

        p{
            margin-bottom : 22px
        }

        >div, >article{
            flex : 1 /*division even*/
        }

        >div >div{
            @include grid(1fr 1fr 1fr, 23px, 0 );
            margin-top : 30px;

            article{
                @include flex-center(0, flex-start, column);
                &:hover{
                    svg{
                        color: $green-button; 
                        transform: scale(1.05);
                    }

                    p{
                        color: $green-link;
                        transform: scale(1.05);
                    }
                }
                
                svg{
                    font-size: 46px;
                    margin-bottom : 13px;
                    color: #c480ac;
                }
            }
        }
    }
}