@import './variables.scss';
@import './about.scss';
@import './projects.scss';
@import './contact.scss';
@import './hero.scss';
@import './responsive.scss';
@import './header.scss';
@import './footer.scss';
@import './profile.scss';
@import './mixins.scss';

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
    font-family: $font-text;
    object-fit: cover;
}

h1, h2, h3, a, p{
    color : $dark-pink;
}

h1, .name, h2, h3{
    font-family: $font-title;
    font-weight: $bold;
}

h2{
    font-size: 41px;
    text-align: center;
    margin-bottom : 16px
}

h3{
    font-size: 29px;
    margin-bottom : 19px;
}

header>div, #about, footer>div, #projects>div, #profile>div{
    max-width: 1440px;
    margin : auto;
}

.button{
    padding : 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-button;
}

.green{
    background-color :$green-button ;
    color : $pale-rose;

    &:hover{
        background-color : $pink-button
    }
}

.blue{
    background-color : $pink-button ;
    color : $pale-rose;

    &:hover{
        background-color :$green-button
    }
}

.link{
    color : $green-link;
    display: block; /*alignement vertical*/
    margin-bottom : 5px;

    .arrow{
        color : $green-link;
        font-size: 13px;
        margin-left : 4px
    }

    &:hover {
        color : $pink-button;

        .arrow{
            margin-left : 13px;
            color : $pink-button
        } 
    }
}

#not-found{
    padding : 50px 0 325px 60px
}