#profile{
    position : relative;

    &:before{
        content :"";

        background-image: 
            radial-gradient(#944594 4px, transparent 4px), 
            radial-gradient(#7c657c 4px, transparent 4px);
        background-size: 73px 73px;
        background-position: 0 0, 36.5px 36.5px;
        background-color: rgb(89 4 67 / 45%);

        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    > div{
        @include flex-center(100px, space-between, row);
        padding : 200px 15px;

        article, div{
            flex : 1 /*division even*/
        }

        *{
            color : $pale-rose;
        }

        h1{
            font-size: 60px;
        }

        p:first-of-type{
            font-size: 24px;
            margin-top : 4px; 
            margin-bottom : 30px;
        }

        p:last-of-type{
            margin-bottom : 33px; 
            font-size: 18px;
        }

        img{
            border-radius: 185px;
            border: 4px dashed #534352;
            width: 50%;
            margin-left : calc(50% - 135px);  
        }

        > div{
            position: relative;

            &::after{
                position: absolute;
                content: "</>";
                font-size: 50px;
                font-weight: 500;
                background: #041f00;
                background: linear-gradient(
                    308deg, rgb(65 120 57) 0%, 
                    rgb(205 220 203) 100%
                );
                color: #678f5c;
                border-radius: 50px;
                bottom: -20px;
                right: 170px;
                padding: 14px 18px 18px 18px;
                z-index: 2;
            }  
        }
    }
}
