// colors
$deep-pink :#5f1443;
$dark-pink : #4c3a44;
$pink-button : #70345e;
$pink-nav : #e966a0cc;
$pink-bandreau :#8a7482;
$pink-span : #ddc4d1e4;
$pale-rose : #fff1fde4;

$green-button :#5aa874;
$green-link : #4b904b;

//grease
$bold : 700;

//fonts 
$font-title : "Fraunces", serif;
$font-text : "Lato", sans-serif;
$font-button : "Barlow", sans-serif;

//padding
$padding-footer-header : 25px 15px;
